<div class="aside upper" tabindex="-1" role="dialog">
	<div class="aside-dialog">
		<div class="aside-content">
			<div class="aside-header aside-header-inverse">
				<button type="button" class="close" ng-click="$hide()"><i class="fa fa-close"></i></button>
				<h4 class="aside-title">Menu</h4>
			</div>
			<div class="aside-body menu-list" ng-click="$hide()">
				<a ui-sref="home" class="menu-item">Home</a>
				<a ui-sref="contattiElenco" class="menu-item">Contatti</a>
                <a class="menu-item" ui-sref="rndImg">Random images</a>
                <a class="menu-item" ng-click="logout()"><i class="fa fa-power-off fa-lg fa-fw"></i>&nbsp; Esci</a>
			</div>
			<div class="aside-footer">
			</div>
		</div>
	</div>
</div>