<h1>{{contatto.name}} {{contatto.surname}}</h1>
<br>
<div class="row">
	<div class="col-sm-6 col-xs-12">
		<button class="btn btn-primary pull-right pull-right-margin" ui-sref="contattiElenco">Contacts list</button>
		<div class="table-responsive" ng-show="!editMode">
			<table class="table vertical-head">
				<tbody>
					<tr ng-repeat="col in colConfigContatto">
						<td>
							<span ng-show="col!='addressNumber'">{{col}}</span>
							<span ng-show="col=='addressNumber'">number</span>
						</td>
						<td>
							<span ng-show="col!='registered' && col!='birthday'">{{contatto[col]}}</span>
							<span ng-show="col=='registered' || col=='birthday'">{{contatto[col]  | date:'dd/MM/yyyy'}}</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<form class="form-horizontal" role="form" ng-show="editMode">
			<div class="form-group">
				<label for="inputName" class="col-sm-3 control-label">Name</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" ng-model="form.name" id="inputName" placeholder="Name">
				</div>
			</div>
			<div class="form-group">
				<label for="inputSurname" class="col-sm-3 control-label">Surname</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" ng-model="form.surname" id="inputSurname" placeholder="Surname">
				</div>
			</div>
			<div class="form-group">
				<label for="inputBirthday" class="col-sm-3 control-label">Birthday</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" ng-model="form.birthday" id="inputBirthday" data-date-format="dd/MM/yyyy" name="date" bs-datepicker>
				</div>
			</div>
			<div class="form-group">
				<label for="inputEmail" class="col-sm-3 control-label">Email</label>
				<div class="col-sm-9">
					<input type="email" class="form-control" ng-model="form.email" id="inputEmail" placeholder="Email">
				</div>
			</div>
			<div class="form-group">
				<label for="inputPhone" class="col-sm-3 control-label">Phone</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" ng-model="form.phone" id="inputPhone" placeholder="Surname">
				</div>
			</div>
			<div class="form-group">
				<label for="inputCompany" class="col-sm-3 control-label">State</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" ng-model="form.state" id="inputState" placeholder="State">
				</div>
			</div>
			<div class="form-group">
				<label for="inputCompany" class="col-sm-3 control-label">City</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" ng-model="form.city" id="inputCity" placeholder="City">
				</div>
			</div>
			<div class="form-group">
				<label for="inputAddress" class="col-sm-3 control-label">Address</label>
				<div class="col-sm-5">
					<input type="text" class="form-control" ng-model="form.address" placeholder="Address">
				</div>
				<label for="inputAddress" class="col-sm-2 control-label">Number</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" ng-model="form.addressNumber" name="inputAddressNumber" placeholder="Number">
				</div>
			</div>
			<div class="form-group">
				<label for="inputCompany" class="col-sm-3 control-label">Company</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" ng-model="form.company" id="inputCompany" placeholder="Company">
				</div>
			</div>
			<div class="form-group">
				<label for="inputCategory" class="col-sm-3 control-label">Category</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" ng-model="form.category" id="inputCategory" placeholder="Category">
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-9 col-lg-offset-3">
					<button class="btn btn-default" ng-click="editMode=false">Cancel</button>
					<button type="submit" class="btn btn-success" ng-click="modContatto()">Save Changes</button>
				</div>
			</div>
		</form>
		<button ng-show="!editMode" class="btn btn-info pull-right" ng-click="openEdit()">Edit Profile</button>
	</div>
	<div class="col-sm-6 col-xs-12" ng-show="!editMode">
		<div class="contact-logo">
			<img src="../extLib/img/contact-default-logo.png" class="thumbnail thumbnail-circle">
		</div>
	</div>
</div>