<h1>Home</h1>

<div class="row">
	<div class="col-sm-6 widget"><h3>Aggiunti di recente</h3></div>
	<div class="col-sm-6 widget"><h3>Attività future</h3></div>
</div>
<div class="row">
	<div class="col-sm-6 widget"><h3>Ultimi appunti<h3></div>
	<div class="col-sm-6 widget"><h3>Work in progress</h3></div>
</div>
  
<div class="row">
	<!--<div class="col-sm-12" style="border:1px solid red;">
        <p>Yes resize (1)</p>
        <iframe id="idIframe" onload="iframeLoaded()" src="testiframe.htm" style=" border-width:0 " width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
    </div>-->
    <!--<div class="col-sm-12" style="border:1px solid red;">
        <p>Yes resize (2)</p>
        <iframe id="iframe" src="testiframe.htm" style=" border-width:0 " width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
    </div>-->
    <!--<div class="col-sm-12" style="border:1px solid red;">
        <p>Yes resize (3)</p>
        <iframe id="frame" src="testiframe.htm" style=" border-width:0 " width="100%" frameborder="0" scrolling="no"></iframe>
    </div>-->
</div>
<!--<script type="text/javascript">
        var params={
            log:true,
            enablePublicMethods:true,
        }
        iFrameResize(params,'iframe');
    </script>-->

