<div class="row">
    <div class="col-sm-12">
        <h1>Lista Pacchetti</h1>
    </div>
</div>
<div class="table-responsive" ng-show="isTableRendered">
    <h3>Pacchetti in elenco : {{listaPacchetti.length}}</h3>
    <table class="table table-hover table-condensed" ng-show="listaPacchetti.length>0">
        <thead>
            <th ng-repeat="l in tableConfig.labels">{{l}}</th>
            <th></th>
        </thead>
        <tbody>
            <tr ng-repeat="lp in listaPacchetti">
                <!--<td ng-repeat="i in tableConfig.ids">{{lp[i]}}</td>-->
                <td>{{lp.id}}</td>
                <td>{{lp.nome}}</td>
                <td>{{lp.autore}}</td>
                <td>{{lp.dataInserimento | date:"dd/MM/yyyy"}}</td>
                <td>{{lp.descrizione}}</td>
                <td>
                    <span ng-show="!lp.versionato">
                        inserire un editor per fare la modifica
                    </span>
                    <span ng-show="lp.versionato && lp.versione">{{lp.versione}}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
